 body{
 background-color: #808080;
 text-align: center;
 
 }
  
footer{
  background-color: #616A6B; 
  text-align: center;
  font-size: 1em;
}
h1 {
  color: #B7B120; 
  text-align: center;
  font-size: 8em;
}
h2 {
  color: #F9F8DD; 
  text-align: center;
  font-size: 3em;
}

p{   
  text-align: center;
  font-size: 1em;
}
table {
   width: 100%;
   border: 1px solid #000;
}
th, td {
   width: 20%;
   text-align: center;
   border: 1px solid #000;
   border-spacing: 0;
   color: #F9F8DD;
   
}
